# Answer number 1

1. **Easy to code-:** Python is a very developer-friendly language, which means that it can be learned in a matter of hours or days by anyone. Python is one of the easiest object-oriented programming languages to learn when compared to Java, C, C++, and C#

2. **Support for GUI-:** Support for GUI, or Graphical User Interface, is one of the most important features of any programming language since it allows code to be more visually appealing. Python is one of the most popular programming languages because it provides a wide range of GUI or graphical user interfaces that can be easily integrated into the interpreter.

3. **Machine Learning-:** In the world of technology, machine learning has a bright future. Python is, without a doubt, the best language for machine learning. Because its simple to understand, data validation is quick and error-free. Developers can do difficult operations without coding since they have access to a well-developed library ecosystem.

4. **Object-Oriented Methodology-:** One of Python most important features is its object-oriented methodology. This implies that Python understands the concept of class and object encapsulation, which allows applications to become more efficient over time.

# Answer 2
In Python, predefined keywords are reserved words that have a specific meaning within the language's syntax and structure. They are not to be used as identifiers variable names, function names, etc. because they are crucial for the interpreter's understanding and execution of code.

In [1]:
# example of predefined keywords
n= int(input("enter the value "))
if n%2==0: # if is a predefined keyword in python and like this we use it in our program
  print("number is even")
else: # it is also a predefined keyword
    print("number is odd")

enter the value 10
number is even

# Answer 3

**Mutable Objects-:** Mutable objects are those ojects which can be changed
after the creation and modified after creation these kind of objects are called mutable objects in python.

Examples: Lists, dictionaries, sets, and user-defined classes


**Immutable objects-:** Immutable objects are those objects which cannot be changed after the creation of the object or cannot be modified after the creation.

Examples-: int, float, str, tuple, bool

In [2]:
# example of mutable objects in python
a = [1,2,3,4,5,6]
a.append(7) # after the creation of list we are able to modify it
print(a)

[1, 2, 3, 4, 5, 6, 7]

In [3]:
# example of immutable objects in python
t = (1,2,3,4,5)
t.append(6) # so it has given a error because it cannot be changed
print(t)

AttributeError: 'tuple' object has no attribute 'append'

# Answer 4

There are various types of opeartors in python lets discuss them in detail-:


1.   Arithmetic Operators-: Used for basic mathematical operations such as Addition, Subtraction, Multiplication, Division

2.  Assignment Operators-: Used to assign values to variables.

3. Comparison or Relational Operators-: Used to compare values. Return True or False.

4. Logical Operators-: Used to combine conditional statements.

5. Membership Operators-: Check for membership in a sequence like list, string, etc.

In [7]:
# example of arithmetic opeartor
a = 20
b = 10
print(a+b) # add
print(a-b) # subtract
print(a*b) # multiply
print(a/b) # division
print(a%b) # modulus

30
10
200
2.0
0

In [10]:
# example of Assignment Operators
x = 5	# assign the value 5 to x
x *= 2	 # x= x*2
print(x)

10

In [12]:
# example of relational Operators
a = 10
b = 20
print(a==b) #equal to
print(a!=b) # not equal to
print(a>b) # Greater than
print(a<b) # less than
print(a>=b) # Greater or equal
print(a<=b) # less or equal

False
True
False
True
False
True

In [17]:
# example of logical opreator
x = 7
print(x>5 and x<10) # return true when both both conditions are true
print(x>5 or x<10) # return true when any one of them is true
print(not(x>5)) # not will reverse the result

True
True
False

In [20]:
# example of Membership Operators
name = "saurabh sharma"
print('a' in name) # true if value is present
print('a' not in name) # true if not present

True
False

# Answer 5

Type casting means converting the data type of a value or variable into another data type. This is useful when you need to convert between types like int, float, str, etc., to perform certain operations or meet a function requirements.

There are two types:

1. Implicit Type Casting-:
Python automatically converts one data type to another when needed.

2. Explicit Type Casting-:
You manually convert the type using functions like int, float, str, etc.

In [22]:
# example of implicit type casting
a = 5 # int
b = 2.0 # float
c = a + b # coverts into float automatically
print(c)
print(type(c))

7.0
<class 'float'>

In [26]:
# example of Explicit Type Casting
# convert string into int
num = "100"
print(type(num))
num2 = int(num) # convert into int
print(num2 + 50)
print(type(num2))

<class 'str'>
150
<class 'int'>

In [28]:
# convert float into int
pi = 3.14
print(type(pi))
int_pi = int(pi) # convert float into int
print(int_pi)
print(type(int_pi))

<class 'float'>
3
<class 'int'>

# Answer 6

Conditional statements execute different blocks of code depending on whether a condition is True or False. There are some types of conditional statements in python which are as follows-:

* if
* else if
* else

In [34]:
# example of if and else statement
age = int(input("enter your age\n"))
if age>=18: # if age is 18 or more than 18 then eligible
   print("you are eligible for voting")
else: # if not less than 18 then not eligible
     print("you are not eligible for voting")

enter your age
15
you are not eligible for voting

In [35]:
# example of else if
score = 85

if score >= 90:
    print("Grade A")
elif score >= 75: # 	Checks another condition if the first is False
    print("Grade B")
else:
    print("Grade C")

Grade B

# Answer 7
In Python, loops are control flow structures that allow you to execute a block of code repeatedly. There are primarily two main types of loops-:


*   For loop
*   While loop

In [36]:
# example of for loop in python
#  for loops in Python are designed for iterating over a sequence
#  (such as a list, tuple, string, dictionary, set) or other iterable objects.
# They execute a block of code for each item in the sequence.


fruits = ["apple", "banana", "cherry"] # for loop on lists
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [37]:
 # Use range() to loop a number of times
for i in range(5):
    print(i)

0
1
2
3
4

In [38]:
# while loops in Python execute a block of code as long as a specified condition is True.
#They are useful when you don't know in advance how many 1  times you need to iterate
# while loop with if
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [39]:
# while loop with continue
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6