# **Answer 1**

Data structures are a way of organizing and storing data so that they can be accessed and worked with efficiently and there are four data structures in python which are lists , tuple ,sets and dictionary.

Choosing the right data structure optimizes performance for tasks like searching, sorting, and data manipulation, ultimately leading to cleaner, faster, and more scalable code thats why data structures are important

# **Answer 2**

**Mutable** objects are those objects which can be modified and changed after the creation. example of mutable object is lists

**Immutable** objects are those objects which cannot be changed after the creation and cannot be modified. example of immutable objects is tuple

In [ ]:
# example of mutable
list1 = [1,2,3,4]
list1.append(5) # so after the creation of list we are still able to modify it
print(list1)

[1, 2, 3, 4, 5]

In [ ]:
# example of immutable
tuple1 = (1,2,3,4)
tuple1.append(5) # so after the creation of tuple we are not able to modify it
print(tuple1)

AttributeError: 'tuple' object has no attribute 'append'

# **Answer 3**

The main difference between list and tuple is that tuple are immutable and list are mutable which means that list can be changed or modified after the creation but the tuple cannot be changed or modified.

# **Answer 4**

Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered , changeable and do not allow duplicates.

In [ ]:
d1 = {2:"saurabh", 3:"sharma", 4:"krishna"}
# so in above dictionary 2,3,4 are the keys and the names are the values
print(type(d1))
print(d1.keys())
print(d1.values())
d1[2] # in this way we can access the value using key

<class 'dict'>
dict_keys([2, 3, 4])
dict_values(['saurabh', 'sharma', 'krishna'])

'saurabh'

# **Answer 5**

I will use sets instead of list because there is no duplicate values in a list which can make sets more efficient to use and sets also provide four operations which are very useful that are-:

*   Union
*   Intersection
*   Difference
*   Symmetric Difference

In [ ]:
sets1  = {1,2,3,4,5,1,2,3,4,5,5,5,1,1} # there are lot of duplicate values
sets1
# in output all duplicate values are now shown because sets not conatin duplicate

{1, 2, 3, 4, 5}

# **Answer 6**

A string is a sequence of characters between single or double quotes.
A list is a sequence of items, where each item could be anything an integer, a float, a string, etc.

In [ ]:
string1 = "saurabh" # this is a string
list1 = [1,3.4,"saurabh",True] # list could be anything string,float,int
string2 = "saurabh",3, # type of this is tuple now because of int value
print(type(string1))
print(type(list1))
print(type(string2))

<class 'str'>
<class 'list'>
<class 'tuple'>

# **Answer 7**

Tuples are immutable to ensure that their contents remain constant and unchanged throughout their lifecycle, ensuring data integrity and reliability

In [ ]:
t1 = (1,2,4,6)
t1.insert(1,3) # no one can change the values in tuple this ensure data integrity

AttributeError: 'tuple' object has no attribute 'insert'

# **Answer 8**

A hash table is a way to store and find data very quickly.

**How does it work?**

You give it a key (like a name: "apple").

The key goes through a hash function  kind of like a math trick  that turns it into a number.

That number tells the hash table where to store or find the value.

In [42]:
#In Python, dictionaries are built using hash tables
my_dict = {"name": "Alice", "age": 30}
print(my_dict["name"])  # Instant lookup of "Alice"
# It works fast because Python uses a hash table to find "name"

Alice

# **Answer 9**


Yes lists can contain different data types in python because list is collection of all data types so in a list you can have a strings, integers, float, boolean etc.

In [ ]:
list1 = [1,"saurabh",3.12,True] # it can contain different data types all together
print(type(list1))
print(list1)

<class 'list'>
[1, 'saurabh', 3.12, True]

# **Answer 10**

1. **It keeps things safe and bug-free**
If strings could change, it might accidentally mess up your program when you're using the same string in different places.
Keeping them unchangeable avoids a lot of confusion and mistakes.

2. **It helps Python run faster**
Python can reuse the same string in memory if it knows it not change. That means faster and more memory efficient programs.

3. **They work well as dictionary keys**
You can use strings as keys in a dictionary because they don’t change. If they did change, you might lose your data

4.  **They are easier to work with**
You never have to worry that someone else's code will change your strings. This makes programs more predictable.

# **Answer 11**

**Dictionaries** are more faster then list when it comes to searching because they provide faster lookups compared to lists when searching by key, as they have an average complexity of O(1), while lists require O(n) in the worst case.

**Dictionaries** are useful when you have items which need accessing using some sort of key. To take a example, perhaps you have a list of people names, and you want to associate a telephone number with each name. You not care about the order you just want to put in a name and get a phone number back. Dictionaries are perfect for this

In [ ]:
dict1 = {"saurabh":999222313, "mukul":332323242}
# now i can use name as a key to access the phone number
dict1["saurabh"]

999222313

# **Answer 12**

If you have data that's not meant to be changed in the first place such as critical information or records in that case tuple  would be preferable over a list.

When there is a demand for Immutability and Data Integrity in that cases tuple are more used over the list because some data you want not to be changed or modified by anyone.

In [ ]:
imp = (23112,387837,37387,812837)
print(type(imp))
imp.append(3434) # now it will not modified

<class 'tuple'>

AttributeError: 'tuple' object has no attribute 'append'

# **Answer 13**

In sets there is no duplicate values and if you create a set with duplicates then it will return back values with no duplicate because sets have a property of no duplicate value

In [ ]:
sets1 = {1,2,3,4,5,1,2,3,4,5,5,5,1,1} # lot of duplicate values
sets1 # all duplicate values are being removed from the set

{1, 2, 3, 4, 5}

# **Answer 14**

**Lists-:** When you use the in keyword with a list, Python performs a linear search. It iterates through each element of the list, starting from the beginning, and compares it to the element you're looking for.

It checks my_list[0] == element, then my_list[1] == element, and so on, until it either finds a match or reaches the end of the list.

**Dictionaries-:** When you use the in keyword with a dictionary, Python checks for the presence of the key within the dictionary keys.

doesn't iterate through the values. Instead, it uses the hash of the key to quickly determine if that key exists in the dictionary's internal structure.

In [ ]:
# using of in keyword in list
list1 = [1,2,3,4,"saurabh"]
for i in list1: # it will iterate in the list until till will find the value
  if i == "saurabh":
    print("saurabh is present in the list")

saurabh is present in the list

In [ ]:
# using of in keyword in dictionary
dict1 = {"saurabh":12, "vishal":20,"aaryan":30}
for i in dict1:
  if i == "saurabh":
    print("saurabh is present in the dictionary")

saurabh is present in the dictionary

# **Answer 15**

Tuple element cannot be modified because tuple are immutable which means that they cannot be changed or modified after the creation of the tuple..

**But** there is one way to modify it by coverting the tuple into the list and then back to tuple let see it with example

In [ ]:
t1  = (1,2,3,4)
l1 = list(t1) # coverted the tuple into list
l1.append(5)
t1 = tuple(l1) # coverted the list back into tuple
print(t1)
print(type(t1))

(1, 2, 3, 4, 5)
<class 'tuple'>

# **Answer 16**

Nesting Dictionary means putting a dictionary inside another dictionary.

In [ ]:
dict1 = {"krishan":1,"aaryan":2,3:{"vishal":4,"aakash":5}} # nested dictionary
print(dict1[3]["vishal"])
print(type(dict1))

4
<class 'dict'>

# **Answer 17**

Accessing an element in a dictionary typically has a time complexity of O(1)

# **Answer 18**

Lists are preferred over dictionaries when maintaining the order of elements is crucial, or when the data is primarily accessed by **index** rather than by a **unique key**. Lists are also more suitable when you need to perform operations like appending or extending items, or when you're dealing with smaller, mutable collections where performance isn't as critical

# **Answer 19**

why they're considered **unordered-:**

**Focus on Key-Value Pairs:** Dictionaries are designed for efficient storage and retrieval of information based on unique keys. The primary concern is the association between a key and its value, not the sequence in which these pairs are added.

**Internal Implementation:** Under the hood, many dictionary implementations use hash tables. Hash tables employ a hashing function to determine where to store each key-value pair in memory. This hashing process doesn't guarantee any specific order of elements. The order can even change as you add or remove items due to how the hash table resizes and manages collisions.

**No Inherent Indexing:** Unlike lists or arrays, you don't access dictionary elements using numerical indices (like my_list[0]). Instead, you use the key to directly retrieve its associated value (like my_dict['name']). The order of elements doesn't provide a meaningful way to access them.

**how does this "unorderedness" affect data retrieval?**

**No Reliance on Position:** You can't assume that the first element you added to a dictionary will be the first one you get back when you iterate through it. This means you shouldn't write code that depends on a specific order of items in a dictionary.

**Key-Based Access:** The retrieval is entirely driven by the keys. If you know the key, you can very quickly access its corresponding value, regardless of where it might be located internally. This is the strength of dictionaries – fast lookups based on keys.

# **Answer 20**

The main difference between list and dictionaries data retrival is that-:

**lists** are retrived by the index number [0] and when you give the index number the element on that index will be fetched and the order in which you have stored the list will be the same.

**Dictionary** are Retrived with the help of the key and the key will provide you the value and it is very fasst when you know the key.
The order in which you have stored the dictionary will not be same you have stored them.

In [ ]:
list1 = [1,2,3,4]
print(list1[2]) # retrive value through index
print(type(list1))
dict1 = {"saurabh":1,"aaryan":2,"vishal":3}
print(dict1["saurabh"]) # retrive value through key
print(type(dict1))

3
<class 'list'>
1
<class 'dict'>

# **Practical Questions**


# **Answer 1**

In [ ]:
string1 = "saurabhSharma" # created a string with my name
print(type(string1))
print(string1)

<class 'str'>
saurabhSharma

# Answer 2

In [ ]:
string1 = "Hello World" # the between the hello world will aslo be counted
length = len(string1)
print(length)

11

# Answer 3

In [ ]:
string1 = "Python Programming"
print(string1[0:3]) # first three charcter will be fetched

Pyt

# Answer 4

In [ ]:
string = "hello"
print(type(string))
print(string.upper()) # converted the string into upper case

<class 'str'>
HELLO

# Answer 5

In [ ]:
string1 = "i like apple"
print(string1)
string2 = string1.replace("apple","orange")
print(string2)

i like apple
i like orange

# Answer 6

In [ ]:
list1 = [1,2,3,4,5] # list created
print(type(list1))
print(list1)

<class 'list'>
[1, 2, 3, 4, 5]

# Answer 7

In [ ]:
list1 = [1,2,3,4]
list1.append(10) # 10 will append in the list
print(list1)

[1, 2, 3, 4, 10]

# Answer 8

In [ ]:
list1 = [1,2,3,4,5]
list1.remove(3) # 3 is removed fro the list
print(list1)

[1, 2, 4, 5]

# Answer 9

In [ ]:
list1 =  ['a', 'b', 'c', 'd'] # second element is on index 1 that is b
list1[1] # with index 1 second element is accessed

'b'

# Answer 10

In [ ]:
list1 = [10, 20, 30, 40, 50]
list1.reverse() # list is reversed
print(list1)

[50, 40, 30, 20, 10]

# Answer 11

In [1]:
tuple1 = (100, 200, 300)
print(type(tuple1))
print(tuple1)

<class 'tuple'>
(100, 200, 300)

# **Answer 12**

In [6]:
tuple1 = ('red', 'green', 'blue', 'yellow')
tuple1[1:4] # first to last element

('green', 'blue', 'yellow')

# **Answer 13**

In [7]:
tup1 =  (10, 20, 5, 15)
min(tup1) # minimum value

5

# **Answer 14**

In [8]:
tuple1 = ('dog', 'cat', 'rabbit')
tuple1.index('cat') # index of cat is

1

# **Answer 15**

In [9]:
tuple1 = ("kiwi","orange","apple")
find = "kiwi" in tuple1
print(find)

True

# **Answer 16**

In [10]:
set1 = {"a","b","c"}
print(type(set1))
print(set1)

<class 'set'>
{'a', 'c', 'b'}

# **Answer 17**

In [12]:
sets1 = {1, 2, 3, 4, 5}
print(sets1)
sets1.clear() # set is cleared
print(sets1)

{1, 2, 3, 4, 5}
set()

# **Answer 18**

In [13]:
sets1 = {1, 2, 3, 4}
sets1.remove(4) # 4 will be removed
print(sets1)

{1, 2, 3}

# **Answer 19**

In [14]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.union(set2) # union of two sets

{1, 2, 3, 4, 5}

# **Answer 20**

In [15]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.intersection(set2) # intersection of two sets

{3}

# **Answer 21**

In [16]:
dict1 = {"name":"saurabh","age":23,"city":"Yamunanagar"}
print(type(dict1))
print(dict1)

<class 'dict'>
{'name': 'saurabh', 'age': 23, 'city': 'Yamunanagar'}

# **Answer 22**

In [17]:
dict1 = {'name': 'John', 'age': 25}
dict1 ["country"] = "USA" # added a new element in a dictionary
print(dict1)

{'name': 'John', 'age': 25, 'country': 'USA'}

# **Answer 23**

In [19]:
dict1 = {'name': 'Alice', 'age': 30}
dict1["name"] # name key value is accessed

'Alice'

# **Answer 24**

In [20]:
dict1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict1.pop("age") # age key value is removed
print(dict1)

{'name': 'Bob', 'city': 'New York'}

# **Answer 25**

In [21]:
dict1 = {'name': 'Alice', 'city': 'Paris'}
find = "city" in dict1
print(find)

True

# **Answer 26**

In [25]:
list1 = [1,"class",3.12,4,6,7]
tuple1 = (1,23,4,6)
dict1 = {"name":"saurabh","age":23}
print(type(list1))
print(list1)
print(type(tuple1))
print(tuple1)
print(type(dict1))
print(dict1)

<class 'list'>
[1, 'class', 3.12, 4, 6, 7]
<class 'tuple'>
(1, 23, 4, 6)
<class 'dict'>
{'name': 'saurabh', 'age': 23}

# **Answer 27**

In [36]:
import random
list1 = [random.randint(1, 100) for i in range(5)]
list1.sort() # list is sorted now
print("Sorted list:", list1)

Sorted list: [23, 28, 57, 94, 97]

# **Answer 28**

In [37]:
list1 = ["saurabh","maverick", "johnsnow","johnwick"]
print(type(list1))
list1[3] # on third index there is johnwick

<class 'list'>

'johnwick'

# **Answer 29**

In [40]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 99, 'd': 3}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 99, 'd': 3}

# **Answer 30**

In [41]:
list1 = ["saurabh","maverick", "johnsnow","johnwick"]
set1 = set(list1) # list is converted into set
print(set1)
print(type(set1))

{'johnsnow', 'johnwick', 'saurabh', 'maverick'}
<class 'set'>